.mainContainer{
    display: flex;
    flex-direction : column;
    align-items: center;
    gap: 2vh;
}


/* -----  vision and mission ---- */

.logoAbout2{
    display: flex;
    justify-content: center;
    padding: 20%;
}
.logoAbout2 img{
    width: 300px;
    height: 300px;
}
.logoAbout{
    display: grid ;
    grid-template-columns: 1fr 1fr ;
}
.descAbout{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 25%;
}

@media only screen and (max-width : 920px){
    .logoAbout img {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width : 730px){
    .logoAbout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr ;
    }
}

/* director general section  */

.dg {
    display: flex;
    justify-content: center ;
}

.dg img {
    width : 40vw ;
    height : 60vh ;
}

.dgDesc{
    display: flex;
    justify-content: center ;
    align-items: center ;
    width  : 40vw ;
    height : 60vh;
    padding : 2vh ;
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;;
}

@media only screen and (max-width : 960px){
    .dg{
        display: flex ;
        flex-direction: column;
        justify-content: center ;
        align-items: center ;
    }
    .dg img {
        width : 60vw ;
        height : 40vh;
    }
    .dgDesc {
        width : 60vw;
    }

}

@media only screen and (max-width : 470px){
    .dg img {
        width : 40vw ;
        height : 20vh ;
    }
    .dgDesc {
        width : 40vw ;
        height: 40vh;
    }
    .dgDesc h3{
        font-size : 20px !important;
    }
    .dgDesc p{
        font-size: 9px !important;
    }
}