.learnMoreBtn{
    text-align: center ;
    padding: 20px;
    color: white;
    background-color: #EE9322;
    box-shadow: 0px 0px 3px 2px whitesmoke;
    font-size: large;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.learnMoreDropDown{
    display: none;
}
.show{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    width: 80%;
    position: relative;
    left: 10%;
    border-top: 2px solid whitesmoke;
    z-index: 1;
}
.show li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}
.show a{
    color: white;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width : 470px) {
    .show a {
        font-size: 10px;
    }
}


/* -----  vision and mission ---- */

.logoAbout2{
    display: flex;
    justify-content: center;
    padding: 20%;
}
.logoAbout2 img{
    width: 300px;
    height: 300px;
}
.logoAbout{
    display: grid ;
    grid-template-columns: 1fr 1fr ;
}
.descAbout{
    display: flex;
    align-items: center;
    padding: 30px 20px ;
    font-family: 'Open sans', sans-serif;
}
.descAbout h2{
    color: #333;
}
.descAbout  p{
    color: gray ;
}

@media only screen and (max-width : 920px){
    .logoAbout img {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width : 730px){
    .logoAbout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr ;
    }
}
@media screen and (max-width : 375px){
    .logoAbout img {
        width: 250px;
        height: 250px;
    }
}

/* director general section  */
/* 
.dg {
    display: flex;
    justify-content: center ;
}

.dg img {
    width : 40vw ;
    height : 60vh ;
}

.dgDesc{
    display: flex;
    justify-content: center ;
    align-items: center ;
    width  : 40vw ;
    height : 60vh;
    padding : 2vh ;
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;;
}

@media only screen and (max-width : 960px){
    .dg{
        display: flex ;
        flex-direction: column;
        justify-content: center ;
        align-items: center ;
    }
    .dg img {
        width : 60vw ;
        height : 40vh;
    }
    .dgDesc {
        width : 60vw;
    }

}

@media only screen and (max-width : 470px){
    .dg img {
        width : 40vw ;
        height : 20vh ;
    }
    .dgDesc {
        width : 40vw ;
        height: 40vh;
    }
    .dgDesc h3{
        font-size : 20px !important;
    }
    .dgDesc p{
        font-size: 9px !important;
    }
} */